@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(2, 18, 10);
    color: #fff;
    width: 900px;
    margin: auto;
}

