@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* globales */
body{
    color: #3C3C3C;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none; /* quitar subrayado */
}

/* header */
header{
    width: 960px;
    margin: auto; /* centrado */
    height: 100px;
    font-weight: 600; /* semi bold */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header a{
        color: #3C3C3C;
    }

    header a img{
        vertical-align: middle;
        /* alinear al centro la imagen y el texto */

        margin-left: 12px;
        margin-right: 8px;
    }
    header nav a{
        margin: 6px;    
    }


main{
    width: 960px;
    margin: auto;
}


/* hero banner */
#hero-banner{
    width: 960px;
    height: 450px;
    /* imagen de fondo */
    background-image: url(../imgs/hero-banner-2.jpg);
    background-size: cover;
    background-position: center center; /* x y */

    display: flex;
    align-items: center;
}
    #hero-banner h1{
        color: #fff;
        font-size: 32px;
        margin-left: 100px;
    }

/* promos */
#promos{
    height: 382px;
    margin-top: 52px;
    background-color: #FAF0E9;

    display: flex;
    justify-content: space-evenly;
    align-items: center; /* centrar en vertical */
}

    #promos article{
        width: 256px;
    }
    #promos h2{
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 12px;
    }